.btn.btn-primary.btn-lg {
    background-color: white;
    color: rebeccapurple;
    padding: 15px 130px;
    border: none;
    border-radius: 1px;
}

.list-box {
    text-align: center;
}

h1, h4 {
    color: white;
    text-align: center;
    padding: 30px;

}

body {
    background-color: rebeccapurple;
}

.mix.hide {
    text-align: center;
    font-size: 24px;
    color: white;
    list-style-type: none;
    border-style: solid;
    border-color: white;
    border-size: 3px;
    margin: 0px 350px;
    visibility: hidden;
}

.mix.hide li {
    margin-top: 50px;
    margin-bottom: 50px;
}